
<ion-content>
  <div class='bold-line'></div>
  <div class='container'>
    <div class='window' style="width: 50%; background: rgba(0, 0, 0, 0.75);">
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'><img class="img" src="/assets/image/Logo.png" alt="">
        </div>
        <div class='subtitle'></div>
        <div class='input-fields'>
          <input type='email' placeholder='Veuillez Saisir votre Email' class='input-line full-width'> 
          <input type='text' placeholder="Veuillez Saisir votre Nom d'utilisateur" class='input-line full-width'>
          <input type='password' placeholder='Veuillez Saisir votre Mot de Passe' class='input-line full-width'>
          <input type='password' placeholder='Veuillez Confirmer votre Mot de Passe' class='input-line full-width'>
        </div>
        <!-- <div class='spacing'></div> -->
        <br><br>
        
        <div><button class='ghost-round full-width'>Envoyer</button></div>
      </div>
    </div>
  </div>
  </ion-content>
