
<ion-header></ion-header>
<ion-menu contentId="main-content" color="dark" no-border>
    
  <ion-toolbar >
    <ion-title ><img src="/assets/image/Logo.png" alt=""></ion-title>
  </ion-toolbar>
  <!-- Wrapper -->

 
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul class="list-unstyled menu-elements">
      <hr class="trait1">
      <li class="active">
        <ion-avatar > <img src="/assets/image/Logo.png" alt=""></ion-avatar>
      </li>
    <hr class="trait1">
      <li >
          <a class="scroll-link" href="/home"><i class="fas fa-home" style="width: 18px; height: 18px;"></i>Acceuil</a>
      </li>
      <hr class="trait1">
      <li class="active">
          <a class="scroll-link" href="/region-acceuil"><i class="fas fa-map" style="width: 18px; height: 18px;"></i> Les Régions</a>
      </li>
      <hr class="trait1">
      <li>
          <a class="scroll-link" href="/user-acceuil"><i class="fas fa-users" style="width: 18px; height: 18px;"></i> Les Utilsateurs</a>
      </li>
        
    </ul>

    <div class="to-top">
        <a class="btn btn-primary btn-customized-3" href="#" role="button" style="text-align: center;">
          Deconnexion
        </a>
    </div>



</nav>


<ion-content class="ion-padding;">


</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><em>Espace Région</em></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div class="cards-list">
  
   
    
      <div class="card">
      
        
        <div class="card_image"> 
          <img style="" src="/assets/image/animation_form.gif" />
        </div>
        <div class="card_title">
          <br>
          <a href="/ajout-region" style="color: #42B90B;"><p>Ajouter une région</p></a>
        </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="/assets/image/animation_liste.gif" />
      </div>
      <div class="card_title">
        <br>
        <a href="/liste-region" style="color: #42B90B;"><p>Liste des régions</p></a>
      </div>
    </div>
  
    </div>
    <br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
   <br><br>

  <footer style="background-color: #0000006a;">Copyright ©  tous droits réservés <em> <span class="sp1">Mali</span><span class="sp2">Tou</span><span class="sp3">rist</span></em></footer>

</ion-content>
