
<ion-header></ion-header>
<ion-menu contentId="main-content" color="dark" no-border>
    
  <ion-toolbar >
    <ion-title ><img src="/assets/image/Logo.png" alt=""></ion-title>
  </ion-toolbar>
  <!-- Wrapper -->

 
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul class="list-unstyled menu-elements">
      <hr class="trait1">
      <li class="active">
        <ion-avatar > <img src="/assets/image/Logo.png" alt=""></ion-avatar>
      </li>
    <hr class="trait1">
      <li >
          <a class="scroll-link" href="/home"><i class="fas fa-home" style="width: 18px; height: 18px;"></i>Acceuil</a>
      </li>
      <hr class="trait1">
      <li  >
          <a class="scroll-link" href="/liste-region"><i class="fas fa-map" style="width: 18px; height: 18px;"></i> Les Régions</a>
      </li>
      <hr class="trait1">
      <li class="active">
          <a class="scroll-link" href="/liste-user"><i class="fas fa-users" style="width: 18px; height: 18px;"></i> Les Utilsateurs</a>
      </li>
        <!-- <hr class="trait">
        <li>
            <a class="scroll-link" href="#section-5"><i class="fas fa-pencil-alt"></i> Portfolio</a>
        </li>
       <hr class="trait">
        <li>
            <a class="scroll-link" href="#section-6"><i class="fas fa-envelope"></i> Contact us</a>
        </li>
        
        <li>
           
        </li> -->
    </ul>

    <div class="to-top">
        <a class="btn btn-primary btn-customized-3" href="#" role="button" style="text-align: center;">
          Deconnexion
        </a>
    </div>



</nav>
<!-- End sidebar -->

<!-- Dark overlay -->


<!-- Content -->

<!-- End content -->


<!-- End wrapper -->

<ion-content class="ion-padding;">

</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><em>Espace Utilsateur</em></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <section class="container">

      <div class="containerT row">
        <!-- <div class="souhater">
            
        </div> -->
      
          <button type="button" class="btn btn-outline-dark" style="background-color: forestgreen;color:white;"><a href="/ajout-user"> Ajouter un utilisateur</a></button>
       

      </div>

      <ion-col style="width: 60%;">
        <ion-card style="padding: auto;margin:auto; margin-top: 20px;letter-spacing : 3px; ">
        <!-- <iv style="text-align: center;"> -->
         <input  type="text" id="myInput" onkeyup="myFunction()" >
    
    <table id="myTable">
      <tr class="header">
        <th style="width:50%;">Nom</th>
        <th style="width:40%;">Nombres de region</th>
        <th style="width:10%;"></th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
        <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
        <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
      </tr>
      <tr>
        <td>Berglunds snabbkop</td>
        <td>Sweden</td>
        <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>UK</td>
        <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
      </tr>
      <tr>
        <td>Koniglich Essen</td>
        <td>Germany</td>
        <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
      </tr>
    </table>
      </ion-card>
      </ion-col>

  </section>
  <br><br>
  <br><br>
  <footer >Copyright ©  tous droits réservés <em> <span class="sp1">Mali</span><span class="sp2">Tou</span><span class="sp3">rist</span></em></footer>
  
</ion-content>