 <ion-header></ion-header>
<ion-menu contentId="main-content" color="dark" no-border>
    
  <ion-toolbar >
    <ion-title ><img src="/assets/image/Logo.png" alt=""></ion-title>
  </ion-toolbar>
  <hr><hr>
  <ion-avatar> <img src="/assets/image/Logo.png" alt=""></ion-avatar>

<ion-content class="ion-padding;">
<li></li>
<hr style="width:50%;text-align:left;margin-left:0;color:white;">
<li></li>
</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><em>Bienvenue User sur l'inteface de <span class="sp1">Mali</span><span class="sp2">Tou</span><span class="sp3">rist</span></em></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>



<div class="welcome-card"  style="position:relative;margin-top: 0px; width: 150%;">
 
  <ion-slides [options]="slideOpt">
    <ion-slide>
     
      <img style=" text-align: center;width: 100%; height: 50%;" src="/assets/image/pexels.jpg" alt="">
      
    </ion-slide>
    <ion-slide>
      <img style=" text-align: center; width: 100%; height: 50%;" src="/assets/image/zebre.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img style=" text-align: center; width: 100%; height: 50%;" src="/assets/image/elephant.jpg" alt="">
    </ion-slide>
    <!-- <ion-slide>
      <img style=" text-align: center; width: 100%; height: 50%;" src="/assets/image/pexels-t.jpg" alt="">
    </ion-slide> -->
  </ion-slides>
  
  
</div>
<div padding>
<br>

<h2 style="text-align: center;"><em>Les Pays à découvrir avec <span class="sp1">Mali</span><span class="sp2">Tou</span><span class="sp3">rist</span></em></h2>

<ion-row>


  <ion-col style="width: 60%;">
    <ion-card style="padding: auto;margin:auto; margin-top: 20px;letter-spacing : 3px; ">
    <!-- <iv style="text-align: center;"> -->
     <input  type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher par Pays ">

<table id="myTable">
  <tr class="header">
    <th style="width:50%;">Nom</th>
    <th style="width:40%;">Nombres de region</th>
    <th style="width:10%;"></th>
  </tr>
  <tr>
    <td><a href=""> Alfreds Futterkiste</a></td>
    <td>Germany</td>
    <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
    <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
    <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
    <td><ion-menu-button><ion-icon name="add-circle-outline"></ion-icon></ion-menu-button></td>
  </tr>
</table>
  </ion-card>
  </ion-col>
  <!-- <ion-col style="width: 40%;">
    <ion-card  style="border-radius: 15px 15px 15px 15px; ">
    <p style="text-align: center;"><img src="/assets/image/Logo.png" alt=""></p>
  </ion-card>
  </ion-col> -->
</ion-row>
<br>
<br>
<h2 style="text-align: center;"><em>Nos Régions</em> </h2>
<br>
<ion-slides [options]="slideOpt2">
<ion-slide>
  
<ion-row>
<ion-col>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1 style="position: relative; text-align: center;">Région de Kayes</h1>
        <p class="dark button">Architect & Engineer</p>
        
      </div>
    </div>
  </div>
  </ion-col>
  <ion-col>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
</ion-col>
    <ion-col>
   
      
    
  </ion-col>
    <ion-col>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
      </div>
   </ion-col>
  </ion-row>
  
    </ion-slide>
    <ion-slide>
  
      <ion-row>
        <ion-col>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
              </div>
            </div>
          </div>
          </ion-col>
          <ion-col>
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                </div>
              </div>
            </div>
        </ion-col>
            <ion-col>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
          </ion-col>
            
          </ion-row>
          
            </ion-slide>
        
      </ion-slides>

    <footer style="">Footer</footer>

</div>
</ion-content>

