ion-header {
  background: transparent;
  ion-item {
    --background: transparent;
    ion-avatar {
      background: white;
    }
  }
}
//Changement de couleur du side menu
ion-menu {
  --ion-background-color:rgba(0, 0, 0, 0.75); 

  ion-toolbar {
      --background: transparent;
      
  }

  .card {
            transition: all 0.2s ease;
            cursor: pointer;
        }

        .card:hover {
            box-shadow: 5px 6px 6px 2px #e9ecef;
            transform: scale(1.1);
        }
}
  ion-list {
      background: transparent;
  }
  ion-item {
      color: rgb(255, 255, 255);
      --background: transparent;
  }
  ion-content {
      --background: transparent;
  }

ion-content {
  * {
    font-family: lato;
  }

  .main-header {
    height: 55vh;
    width: 155%;
    // background-image: url("/assets/image/pexels.jpg");
    background: linear-gradient(90deg, var(--ion-color-dark-tint) 100%, var(--ion-color-success-shade) 35%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    // border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -10px;
   
  }
  ion-grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10vh);
    padding-bottom: 8vh;
    ion-row {
      ion-col {
        ion-label {
          ion-note {
            font-size: 0.7rem;
          }
          ion-chip {
            ion-label {
              font-size: 1.4rem;
              font-weight: bold;
              letter-spacing: 0.5px;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
            }
          }
          b {
            font-size: 1.2rem;
          }
        }
        ion-button {
          height: 3em !important;
          transform: translateY(10%);
          text-transform: none;
          background-color:rgba(67, 185, 12, 0.418);
          ion-text {
            font-size: 0.7rem;
            font-weight: bold;
            text-shadow: 1px 1px 1px var(--ion-color-medium);
          }
          ion-icon {
            font-size: 1rem;
          }
        }
        hr{
        }
        // ion-card-header {
        //   display: flex;
        //   flex-flow: column-reverse;
        // }
        ion-card {
          box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
          border-radius: 10px !important;
          margin: 10px 0;
          ion-thumbnail {
            width: 30vh;
            height: 30vh;
            border-radius: 20px;
            img {
              width: 55vh;
              height: 55vh;
              transform: translateY(50%);
              margin-top: -253px;
            }
          }
          ion-card-content {
            ion-label {
              font-weight: bold;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
    ion-list {
      background: transparent;
      ion-item {
        width: 95%;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 2vh;
        p {
          font-size: 0.65rem;
        }
        ion-text {
          font-weight: 800;
        }
      }
    }
  }
}
.trait{
  border-top: 1px solid #fff;
width : 700px;
}
.ij {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}










$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);
$grid-max-widths: (
 lg: 992px
);
// IF the browser does NOT support the  CSS Grid Layout specification
// We rely on the use of the CSS Flexbox standard instead
.wrapper {
  display: flex;
  flex-wrap: wrap;
}


// IF the browser DOES support the CSS Grid Layout specification
// then the following rules are applied instead
.wrapper {
  display: grid;

  // Define a 10 pixel gap between each grid track
  grid-gap: 10px;

  // Define a rule, that will be repeated for each grid column, where
  // the grid track is set to a minimum width of 300 pixels and a maximum 
  // width of the available space within the grid container (via the fr or 
  // fraction unit)

  // The auto-fill value allows as many grid tracks to be fitted into the
  // width of the grid container as possible
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  // Specify the height of the row - minimum value of 50 pixels and a maximum
  // value set to auto
  grid-auto-rows: minmax(150px, auto);

}


// Define the header/footer tag values



// Define the style rules for each panel within the grid
// container
.box {
  border-radius: 5px;
  padding: 3em;
  margin-left: 5px;
  margin-right: 5px;
  // Add a flex rule for browsers not supporting the
  // CSS Grid Layout spec
  flex: 1 1 300px;
// .imgRegion{
  
// }
.welcome-card ion-img {
  max-height: 45vh;
  overflow: hidden;
}
  h2 {
     font-weight: bold;
 }
}





// Add the necessary classes for styling the 
// background colours of each panel in the 
// project UI
.red {
   background-color: rgba(220, 83, 81, 1);
   box-shadow: inset;
}
.red1{
  background-color:rgba(0, 0, 0, 0.45);
  box-shadow: inset;
  height: 79vh;
  width: 155%;
  

  // border-radius: 0 0 50% 50%;
  margin-left: -14vh;
  margin-top: -16px;
}
.welcome-card1{
  height: 65.5vh;
  width: 155%;
  background-color:rgba(0, 0, 0, 0.45);
}
hr.new1 {
  border-top: 1px solid rgb(255, 255, 255);
}


footer {
  border-radius: 15px;
  /* padding: 3em; */
  margin-left: 15px;
  margin-right: 15px;
  flex: 0 1 100%;
  grid-column: 1/-1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-bottom: 2%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #42B90B;
  color: white;
  transform: rotateY(180deg);
}
.av{
  height: 18px;
  width: 18px;
  padding: 12px;
}
#myInput {
  background-image: url(/assets/search-outline.svg);
  /* background-position: -2px 2px; */
  background-repeat: no-repeat;
  width: 100%;
  font-size: 25px;
  padding: -8px 17px 25px 38px;
  border: 1px solid #42B90B;
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
.sp1{
  color: #42B90B;
}
.sp2{
  color: yellow;
}
.sp3{
  color: red;
}






.sidebar .dark-light-buttons {
  padding: 10px 20px 30px 20px;
  text-align: center;
}

a.btn-customized-4 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px;
  padding: 0;
  background: #444;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
  text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
  background: #222;
}

a.btn-customized-4.btn-customized-light {
  background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}
.sidebar .to-top {
  padding: 20px;
  text-align: center;
}

a.btn-customized-3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .75rem 1.5rem;
  background: #444;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #42B90B;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3 i {
  margin-right: 5px;
}
.sidebar ul.menu-elements {
  padding: 10px 0;
  border-bottom: 2px solid #ffff;
  transition: all .3s;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  background: #42B90B;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}

.sidebar ul li a i {
  margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: #42B90B;
  color: #fff;
  border-radius: 30px 30px 30px 30px;
}

.sidebar ul ul a {
  background: #444;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: #555;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}